<div style="text-align:center; width:100%;">
<%= form_for(@user, :html => {:id => 'user', :name => 'user_form',:multipart => true , :onsubmit => "return validate_email();"}) do |f| %>    
<center>
  <table>
			<%= render :partial =>'user_fields',:locals=>{:f => f,:show_image=>false} %>      
			<tr>
				<div class="actions">
				<td></td>      
				<td><b><%= f.submit %></b></td><td></td>
				</div>
			</tr>
  </table>
 </center>
<% end %>
</div>
