<div id="home_container">
<div class="marquee" style="float:left;"><h2 >Introduction</h2></div>
<div class="clear"></div>
<table>
  <tr>  
      <td>

          <div id="content">
            <div class="box">                
              <p><h3>Intra-Connect helps you connect and share with the colleagues in your organizations.</h3></p>

           <h3>Features</h3>
           <p>
							<ul>
								<li> Employee Information </li>
								<li> Search feature for finding solution for any problem.</li>
								<li> Share problem with other employees by creating New Post.</li>
								<li> User can give suggestions for any event that organization is planning. </li>
								<li> User can go through the suggestions provided by other users for an event in an organization.</li>
								<li>Create new Album, and can add photos in that.</li>
								<li> Show all Albums of employees.</li>
								<li> Comments over photos.</li>
								<li> Like to Album, Comment and Picture.</li>
								<li> Can see how many people liked to a particular Album, Picture or Comment.</li>
								<li> Permission: Employee can edit and delete self created album, picture, etc. And Admin has full permission.</li>
								<li> User can send email by selecting individual or all recipients.</li></p>
							</ul>   
            
                        <p>You can contact at  <a href="http://www.systematixtechnocrates.com/Contact-Us.aspx" target="_blank" title="Systango intraconnect team">Intra-Connect team</a></p>
                    </div>
          </div>

      </td>
      <td width="40%" style="vertical-align:top;" >
           <div id="login_content">            
            <form method="post" action="/home/check_login" name="login_form" onsubmit="return validateForm()">
              <table style="margin-top:50px;">
                <tr>
                  
                  
                  <td>
                      <table style="width:380px;">
                        <tr>
                          <td align="right" >LOGIN NAME :</td>
                          <td><input id="login" type="text" name="login" size="30" /></td>
                        </tr>
                        <tr>
                          <td align="right"> PASSWORD :</td>
                          <td><input id="password" type="password" name="password" size="30" /> </td>
                        </tr>
                        <tr>
                          <td></td>  
                          <td align="left"><input type="checkbox" value="true"/> &nbsp;&nbsp;REMEMBER ME</td>    
           
                        </tr>  
                        <tr>
                          <td></td>  
                          <td align="left"><input type="submit" value="Login" style="width:100px;"/> </td>    
                        </tr>
                      </table>                             
                  </td>
                </tr>
              </table>
            </form>
            <div>
      	       <div class="clear"></div>
            </div>
          </div>
      </td>
  </tr>
</table>

</div>
