<div id="login_content">            
            <form method="post" action="/home/check_login" name="login_form" onsubmit="return validateForm()">
              <table style="margin-top:50px;">
                <tr>
                  <td width="25%">&nbsp;</td>
                  <td width="25%">&nbsp;</td>
                  <td>
                      <table>
                        <tr>
                          <td align="right">LOGIN NAME :</td>
                          <td><input id="login" type="text" name="login" size="30" /></td>
                        </tr>
                        <tr>
                          <td align="right"> PASSWORD :</td>
                          <td><input id="password" type="password" name="password" size="30" /> </td>
                        </tr>
                        <tr>
                          <td></td>  
                          <td align="left"><input type="checkbox" value="true"/> &nbsp;&nbsp;REMEMBER ME</td>    
           
                        </tr>  
                        <tr>
                          <td></td>  
                          <td align="left"><input type="submit" value="Login" style="width:100px;"/> </td>    
                        </tr>
                      </table>                             
                  </td>
                </tr>
              </table>
            </form>
            <div>
      	       <div class="clear"></div>
            </div>
          </div>
