<% content_for :header do %>
  <style type="text/css">
    .center_align, th	{
      text-align:center;
    }
  </style>
<% end %>
<div id="album_info">
<div class="clear"></div>
<center>
 <table>
  <tr>    
    <th>Album Name</th>
    <th>Album Description</th>
    <th>User Name</th>   
  </tr>

  <tr>
     <td><b><%= @album.album_name.titleize %></b></td>
     <td><%= @album.album_description.titleize %></td>
     <td><% "#{@album.user_id} #{@album.user.last_name.titleize}" %> </td>
  </tr>  
 </table>
<script>$("tr:odd").css("background-color", "#EBECE4");</script>
</center>
</div>
<div id="edit_back_link">
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', my_albums_albums_path %>
</div>
