
  <br><br>
	  <center>
    <table>
    <tr>
    
    <% @problems.each do|problem|%>
	    <%=render :partial=>'problem',:locals=>{:problem =>problem}%>	    
		<% end %>    
    <tr>
      
         <td></td><td></td>
      
      </tr>
    </table>
    <%= will_paginate @problems %>
   
   </center>
<br><br><br>

<script type="text/javaScript">
function show_solutions(problem_id)
	{
	$("div#solution_"+problem_id).show();
	$("#show_button_"+problem_id).hide();
  $("#hide_button_"+problem_id).show();
	$(document).ready(function(){
		
		$.ajax({
		type: "POST",
	  url: "/solutions/solutions",
	  data: { problem_id : problem_id },
	  success: function(response){
	  	$("div#solution_"+problem_id).append(response);
			
		}
	 // dataType: "html"  
		});
		
	});
}

function hide_solutions(problem_id)
{

$("div#solution_"+problem_id).hide();
$("#show_button_"+problem_id).show();
$("#hide_button_"+problem_id).hide();
}

</script>
