<div id="footer">
        <div class="footer-content">    
                <span class="sitename">sitename</span>
                 <p class="footer-links">
                    <a href=<%= User.home_url(current_user) %>>Home</a>
    				<a href="#container" class="backtotop">Back to top</a>
               	 </p>
                 <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p>&copy; YourSite 2011. Website Design by <a href="http://www.spyka.net">Free CSS Templates</a> | <a href="http://www.justfreetemplates.com">Free Web Templates</a></p>
         </div>    
</div>
