<div id="footer">
        <div class="footer-content">    
                <span class="sitename">Intra-Connect</span>
                 <p class="footer-links">
                    <a href=<%= User.home_url(current_user) %>>Home</a>
    				<a href="#container" class="backtotop">Back to top</a>
               	 </p>
                 <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p> Copyright &copy; Intra-Connect Team, Privacy Policy and Disclaimer  | <a href="www.systematixtechnocrates.com/">Syatango (formerly Systematix Technocrates) </a></p>
         </div>    
</div>
