<div id="slides-container">
        <div id="slides">
            <div>
                <div class="slide-image"><img src="/images/images/image-1	.jpg" alt="Slide #1 image" /></div>
                <div class="slide-text">
                    <h2></h2>
                    <p>
.</p>

            
                </div>
            </div>
            
            <div>
            	<h2>Intra-Connect(Systango!)</h2>
                <p>Systango (formerly Systematix Technocrates) headquartered at Indore, India; is a leading IT software development company that delivers affordable solutions through software development.

Our sole aim and motivation starts with the notion of developing and innovating World's Best Class Software. We believe in leadership through quality service. Nurturing care for clients and partners, knowledge sharing and team work forms the base of our existence. Have a look on niche Systango (formerly Systematix Technocrates) has carved for itself and feel the diligence we deploy.

Our mission is to establish the fact that a team irrespective of its size can lead the crowd by doing quality technology work, can contribute to the opportunity pool for community of the towns which are comparatively unknown on India’s map and in long term become technology partners rather than providers.</p>

            </div>
            
            <div>
                <div class="slide-image slide-image-right"><img src="/images/images/image-4.jpg" alt="Slide #3 image" /></div>
                <div class="slide-text">
                    <h2></h2>
                    <p></p>

            
                </div>
            </div>
		</div>
        <div class="controls"><span class="jFlowNext"><span>Next</span></span><span class="jFlowPrev"><span>Prev</span></span></div>        
        <div id="myController" class="hidden"><span class="jFlowControl">Slide 1</span><span class="jFlowControl">Slide 1</span><span class="jFlowControl">Slide 1</span></div>
    </div>
