<div id="slides-container">
  <div id="jFlowSlide" style="position: relative; width: 820px; height: 225px; overflow: hidden;">
    <div id="slides" style="position: relative; width: 2460px; height: 225px; overflow: hidden; margin-left: -1640px;">
      <div class="jFlowSlideContainer" style="position: relative; width: 820px; height: 225px; float: left; overflow: hidden;">
        <div>
          <div class="jFlowSlideContainer">
            <div class="slide-image">
                <img alt="Slide #1 image" src="/images/slide-1.png">
            </div>
          </div>
          <div class="jFlowSlideContainer">
          <div class="slide-text">
              <h2>Slide #1</h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque venenatis sagittis enim. Maecenas ligula erat, egestas congue, varius nec, sagittis nec, purus. In neque. Curabitur at metus tincidunt dui tristique molestie. Donec porta molestie tortor. Fusce euismod consectetuer sapien. Fusce ac velit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="jFlowSlideContainer" style="position: relative; width: 820px; height: 225px; float: left; overflow: hidden;">
      <div>
          <h2>Have fun with slides!</h2>
          <p>These slides can contain anything a webpage can! HTML, Javascript, images, flash or whatever! They're completely easy to edit and add to as well, no need to bother editing or even going anywhere near some confusing Javascript files, simply add a &lt;div&gt;&lt;/div&gt; tag with your slider content to the "slides" contain - it takes just seconds to do!</p>
          <p>These slides work using the absolutely wonderful lightweight jQuery plugin<a href="http://plugins.jquery.com/project/jFlow">jFlow</a>, originally written by Kean Loong and modified by both Mauro Belgiovine and spyka Webmaster. The script has been licensed under the open source MIT license, so feel free to play around and modify it as much or as little as you wish!
          </p>
      </div>
    </div>
    <div class="jFlowSlideContainer" style="position: relative; width: 820px; height: 225px; float: left; overflow: hidden;">
        <div>
          <div class="jFlowSlideContainer">
            <div class="slide-image slide-image-right">
            <img alt="Slide #3 image" src="/images/slide-3.png">
            </div>
          </div>
          <div class="jFlowSlideContainer">
            <div class="slide-text">
              <h2>Slide #3</h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque venenatis sagittis enim. Maecenas ligula erat, egestas congue, varius nec, sagittis nec, purus. In neque. Curabitur at metus tincidunt dui tristique molestie. Donec porta molestie tortor. Fusce euismod consectetuer sapien. Fusce ac velit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">
    <span class="jFlowNext">
    <span>Next</span>
    </span>
    <span class="jFlowPrev">
    <span>Prev</span>
    </span>
  </div>
  <div id="myController" class="hidden">
    <span class="jFlowControl">Slide 1</span>
    <span class="jFlowControl">Slide 1</span>
    <span class="jFlowControl jFlowSelected">Slide 1</span>
  </div>
</div>
